<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <!--Root menu-->

    <menuitem
        id="family_baby_feeding"
        name="Family Baby Feeding"
        sequence="20"
        web_icon="family_baby_feeding,static/description/icon.png"
    />

    <!--Sub menu-->

    <menuitem id="menu" name="Menu" sequence="1" parent="family_baby_feeding" />

    <!--Child menu-->

    <menuitem
        id="baby_feeding"
        name="Baby feeding"
        action="family_baby_feeding_baby_feeding_action_window"
        sequence="1"
        parent="menu"
    />
</odoo>
